.homepage{
  background-image: url('https://startbootstrap.github.io/startbootstrap-grayscale/assets/img/bg-masthead.jpg');
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.title-text{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 80vw;
  background-color: transparent;
  margin: auto;
  margin-top: 60px;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 30px;
  color: rgb(121, 116, 116)
}

.description{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  height: 50px;
  width: 40vw;
  background-color: transparent;
  margin: auto;
  margin-top: 10px;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(121, 116, 116);
}

.get-started {
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 160px;
  background-color: rgb(100, 161,157);
  color: white;
  border: none;
  border-radius: 7%;
  font-weight: bolder;
  letter-spacing: 2px;
}